@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap');

:root{
    --background-color: #EEE;
    --body-background-color: var(--background-color);
    --text-color: #111;
    --text-color-negative: var(--background-color);
    --text-color-negative-dull: #CCC;
    --text-color-shadowed: #222;

    --backdrop-color: 10,10,10;
    --highlight-color: 200,200,200;

    --secondary: #6ba7d8;

    --mild-border-radius: .5rem;
    --default-border-radius: 1rem;
    --high-border-radius: 2rem;
    --aggressive-border-radius: 3rem;

    --transition-duration-medium: .5s;
    --transition-duration-fast: .25s;
    --transition-duration-veryfast: .125s;

    font-family: Spline Sans Mono;
    font-size: 12pt;
    line-height: 1.5em;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    z-index: 1;
}

html{
    background-color: var(--background-color);
}



body{
    min-height: 100vh;
    width: 100%;

    margin: 0 auto;
    
    background: linear-gradient(200deg, var(--background-color), var(--secondary));
    background-size: cover;
    
    z-index: 0;
}

footer, header {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;

    background-color: rgba(var(--backdrop-color),0.1);
    backdrop-filter: blur(var(--mild-border-radius));
    color: var(--text-color-negative);

    text-align: center;
    z-index:2;
}

header{
    top: 2em;
    left: 37.5%;
    width: 25%;
    min-height: 4em;
 
    border-radius: var(--aggressive-border-radius);

    h1{
        padding: 0;
        margin: 0;
    }
    z-index: 999;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    
    bottom: 0;
    height: 3em;
    padding: .75em;
    width: 100%;

    border-radius: var(--default-border-radius) var(--default-border-radius) 0 0;
}

/*******************************/
/* Default text settings stuff */
/*******************************/

h1,
h2,
h3,
h4,
h5,
h6{
    margin: 1em 0 .5em 0;
    text-shadow: .1em .1em 0px var(--text-color-shadowed);
}


a:has(> button){
    text-decoration: none;
}

.icon-only{
    max-width: 3em;
}

button, select, option, input:not([type=checkbox]), label{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;

    margin: var(--mild-border-radius);
    padding: var(--mild-border-radius);

    border: none;
    border-radius: var(--mild-border-radius);
    background-color: rgba(var(--backdrop-color),0.3);
    color: var(--text-color-negative);

    font-weight: 600;
    font-size: 1.1em;
    text-align: center;
    text-shadow: .1em .1em 0px var(--text-color-shadowed);
    text-overflow: ellipsis;

    cursor: pointer;

    transition: all;
    transition-duration: var(--transition-duration-fast);

    &:hover{
        border-radius: var(--default-border-radius);
        filter: brightness(0.95);

        transition: all;
        transition-duration: var(--transition-duration-fast);

        img {
            transform: scale(1.05) rotate(10deg);
        }
    }

    &:disabled{
        filter: brightness(70%);
        cursor: not-allowed;

        &:hover{
            border-radius: var(--mild-border-radius); 
        }
    }

    img{
        width: 2em;
        height: 2em;

        padding: .1em;

        transform: scale(0.9);
        filter: brightness(200%) contrast(75%);
    }

    p{
        display: inline-flex;
        align-items: center;
        justify-content: center;

        color: var(--text-color-negative-dull);

        padding-left: .35em;
        
        min-width: 2em;
        height: 100%;
    }
}

.button-group{
    display: flex;
    
    button {
        width: 100%;
    }

    input {
        display: none;
    }
}

.checkbox {
    input[type='checkbox']{ /* The checkbox itself */
        margin: .75em;
    
        transform: scale(2); /* Visual size */
    }

    label {
        align-items: end;
        justify-content: end;
        position: relative;
        top:-2%;
        width: 81%;
        height: 0;
        margin: 0;
        padding: 0;

        font-size: .8em;
        line-height: 200%;
        color: var(--text-color);

        mix-blend-mode:multiply;
        text-shadow: none;

        background: none;

        /* Make it not interfere with the checkbox */
        user-select: none;
        pointer-events: none;
        touch-action: none;
    }
    input[type='checkbox']:checked + label {
        color: var(--text-color-negative); 
        mix-blend-mode:soft-light;
    }
}

/************/
/* Articles */
/************/

article::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    /* Apply the backdrop-filter and background to the pseudo-element */
    backdrop-filter: blur(var(--default-border-radius));
    background: rgba(var(--backdrop-color), 0.4);
    
    z-index: 0; /* Ensure it is behind the article content */
}

article{
    position: relative; /* Ensure positioning context for pseudo-element */
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    min-height: 100vh;
    
}

@media (max-width:900px)  {
    :root{
        --mild-border-radius: .35rem;
        --default-border-radius: 0.8rem;
        --high-border-radius: 1.8rem;
        --aggressive-border-radius: 2.75rem;

        font-size: 16pt;
        line-height: 1.5em;
    }

    header{
        top: 0;
        left: 0;

        width: 100vw;
        height: 5em;

        padding-top: .5em;
     
        border-radius: 0 0 var(--default-border-radius) var(--default-border-radius);
    
        h1{
            padding: 0;
            margin: 0;
        }
    }
    
    body{
        min-height: 100vh;
    }
    
    footer, header {
        backdrop-filter: blur(var(--mild-border-radius));
    }
    
    footer {
        position: relative;
        flex-direction: column;

        border-radius: 0;

        background-color: rgba(var(--backdrop-color),0.5);

        height: unset;
        padding: .5em;
        
        width: 100vw;
    }

    body:has(.output) footer{
        padding-bottom: 9em;
    }
    
    /*******************************/
    /* Default text settings stuff */
    /*******************************/
    
    .checkbox {
        input[type='checkbox']{
            margin: 1.5em;
        
            transform: scale(3); /* Visual size */
        }
    }

    .button-group{
        flex-wrap: wrap;
    }
    
    /************/
    /* Articles */
    /************/
    
    article{
        padding: 4em 0;

        height: 100%;
        z-index: 3;
    }
}
