---
import Layout from '../layouts/Layout.astro'
import { AddCard } from '../components/ui/AddCard'
---

<Layout title="Slumper / Add" description="Add your own personal book to Slumper, the exercise randomizer, to add support for any book not included by default.">
	<main>
		<AddCard client:only="solid-js" />
	</main>
</Layout>