---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Slumper">
	<article>
		<output-card>
			<h2 id="chapter">No chapter</h2>
			<h3 id="output">No task</h3>
			<button id="random">Random!</button>

			<label for="course">Choose course:</label>

			<select id="course-select" name="course" id="course">
				<option value="FMAB20">FMAB20</option>
			</select> 
		</output-card>
		<script src="../scripts/random.ts"></script>
	</article>
</Layout>