---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Slumper">
	<article>
		<output-card>
			<div id="time-output">
				<h1 id="time">No time</h1> 
				<input id="time-enabled" type="checkbox" checked="false">
			</div>
			<h2 id="chapter">No chapter</h2>
			<h3 id="output">No task</h3>
			<div id="buttons">
				<button id="random">Random!</button>
				<button id="done">Completed :)</button>
				<button id="reset">Reset :o</button>
			</div>

			<div id="checkboxes">
				<h4>Filter chapters:</h4>
			</div>

			<h4>Choose book:</h4>
			<select id="course-select" name="course" id="course">
			</select> 
		</output-card>
		<script src="../scripts/random.ts"></script>
	</article>
</Layout>