---
import Layout from '../layouts/Layout.astro'
import { OutputCard } from '../components/ui/OutputCard'
import { VolumeKnob } from '../components/ui/VolumeKnob'

---

<Layout >	
	<main>
		<OutputCard client:only="solid-js" />
	</main>
	<VolumeKnob client:only="solid-js"/>
</Layout>