.link  {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    --link-padding: .75em;
    padding: 0 var(--link-padding);

    text-decoration: none;
    color: var(--text-color-negative);
    cursor: pointer;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* Disables the ugly tap color that displays in mobile chrome */
}

.link:hover {
    text-decoration:underline;
}

.link:hover img {
    opacity: 0.9;
}

.link p {
    padding: 0 calc(var(--link-padding) / 2);
}

.link-with-image p {
    padding: 0 var(--link-padding);
}

.link img  {
    width: 2em;
    height: 2em;

    opacity: 0.8;

    transition-property: opacity;
    transition-duration: var(--transition-duration-fast);
}


.link-container{
    position: relative;
    border-left: .1em var(--text-color-negative-dull) solid;
}

.link-container[data-clipboard = "false"]:nth-of-type(1){
    border: 0;
}

@media (max-width:900px)  {
    .link  {
        padding: var(--link-padding) 0;
    }

    .link-container{
        border: none;
    }
}