---
interface Props {
	question: String;
    chapter: String;
    type: String;
}

const { question, chapter, type } = Astro.props;
---

<div class="outputcard">
    <h2>{question}</h2>
    <span>{type}</span>
    <p>{chapter}</p>
</div>
<style>
	.outputcard{
        width: 100%;
        
        padding: 1rem;
        background-color: rgba(var(--backdrop-color),0.2);

        border-radius: var(--default-border-radius);
    }
</style>
