---
import Head from '../components/layouts/Head.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<Head title={title} favicon="/src/assets/refresh-negative.svg"/>
	<body>
		<header>
			<h1>Slumper</h1>
		</header>
		<slot />
		<footer>
			<p>Made by Embracket</p>
		</footer>
	</body>
</html>