---
import Head from '../components/layouts/Head.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<Head title={title} favicon="/src/assets/refresh-negative.svg"/>
	<body>
		<header>
			<h1>{title}</h1>
		</header>
		<slot />
		<footer>
			<a href="https://www.embracket.com"></a><p>Made by Embracket <img src="/src/assets/embracketlogo.svg"></p></a>
			<a href="https://www.github.com/mikael-ros/slumper"><img src="/src/assets/github-mark-white.svg"></a>
		</footer>
	</body>
</html>
