---
import Head from '../components/layouts/Head.astro';
import {Link} from '../components/Link.tsx';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<Head title={title} favicon="/src/assets/refresh-negative.svg"/>
	<body>
		<header>
			<h1>{title}</h1>
		</header>
		<slot />
		<footer>
			<Link href="https://www.embracket.com" src="/src/assets/embracketlogo.svg" text="Made by Embracket" />
			<Link href="https://www.github.com/mikael-ros/slumper" src="/src/assets/github-mark-white.svg" text="GitHub" />
			<Link href="https://www.github.com/mikael-ros/slumper" src="/src/assets/altdonate.svg" text="Donate" />
			<Link href="https://www.github.com/mikael-ros/slumper" src="/src/assets/share.svg" text="Share" clipboard={true} client:only="solid-js"/>
		</footer>
	</body>
</html>
