#chapter-inputs, .book-list, .book-disclaimer{
    display: flex;
    flex-direction: column;
    --gap: .5em;

    margin-top: calc(-1*var(--gap));

    * {
        margin-top: var(--gap);
    }
    
    
    max-height: 300px;
    max-width: 100%;
    margin: 1em 0;
    
    padding-bottom: 5em;
    overflow-y: auto;

    /* Inspired by
    https://pqina.nl/blog/fade-out-overflow-using-css-mask-image/ */

    --mask-height: 40%;

    --mask-image-content: linear-gradient(
        to bottom,
        black calc(100% - var(--mask-height)),
        transparent
    );

    mask-image: var(--mask-image-content);
    mask-size: var(--mask-size-content);

    mask-position: 0 0, 100% 0;
    mask-repeat: no-repeat, no-repeat;

    button {
        width: 15em;
        
        img {
            width: 1.5em;
        }

        &:hover {
            img{
                transition-duration: var(--transition-duration-medium);
                transform: rotate(360deg);
            }
        }
    }

    #add-entry, #toggle-empty, .book-entry button {
        height: 2em;
    }
}

@supports ((aspect-ratio: 1 / 1) and (gap: 0)) { /* Aspect ratio is a proxy for flex gap, as gap will sometimes incorrectly be true (as in grid gap) */
    #chapter-inputs, .book-list, .book-disclaimer{
        gap: var(--gap);
    }
}

.chapter-input label {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.chapter-input:nth-of-type(n + 2){
    opacity: 0.9;
}

.chapter-input:nth-of-type(n + 3){
    opacity: 0.8;
}

.chapter-input[data-empty="true"]{
    opacity: .4;
}

.input-list[data-display-empty="false"] .chapter-input[data-empty="true"]:not(:first-of-type) {
    display: none;
}

.input__chapter  {
    flex: 600%;
}


.book-entry{
    display: flex;
    align-items: center;

    height: 2.5em;
    
    padding: .25em .5em;
    border-radius: var(--mild-border-radius);

    h5 {
        width: 100%;
        text-wrap: nowrap;
        margin: 0;
        overflow-x: hidden;
        text-overflow: ellipsis;

        color: var(--text-color-negative-dull);
    }

    &:hover, &:focus {
        background-color: rgba(var(--backdrop-color),0.1);
    }

    .interactive-group:hover, .interactive-group:focus, .interactive-group:has(:focus) {
        button {
            opacity: 1;
        }
    }

    button{
        opacity: 0;
        max-width: 2em;

        img {
            width: 2em;
            transform: scale(1);
        }

        &:focus {
            opacity: 1;
        }

        &:hover {
            border-radius: 1em;

            img {
                transform: scale(1);
            }
            
        }
    }
}

/* Where there is no hover, this should be displayed at all times */
@media (hover: none)  {
    .book-entry button{
        opacity: 1;
    }
}

@media (max-width:900px)  {
    .add {
        #form-controls {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-gap: .5em;

            button, label {
                margin: 0;
            }
        }

        #add-entry {
            width: 100%;
        }

        #chapter-inputs{
            display: flex;
            flex-direction: column;
            gap: .5em;

            max-height: fit-content;
        }
    }

    .book-entry{
        button{
            opacity: 1;
        }
        
        .interactive-group {
            flex-wrap: nowrap;
        }
    }

    .input__chapter  {
        flex: 300%;
    }
}