#chapter-inputs, .book-list{
    display: flex;
    flex-direction: column;
    gap: .5em;

    min-height: 200px;
    max-height: 80%;
    max-width: 100%;
    margin: 1em 0;
    
    padding-bottom: 5em;
    overflow-y: auto;

    /* Inspired by
    https://pqina.nl/blog/fade-out-overflow-using-css-mask-image/ */

    --mask-height: 40%;

    --mask-image-content: linear-gradient(
        to bottom,
        black calc(100% - var(--mask-height)),
        transparent
    );

    mask-image: var(--mask-image-content);
    mask-size: var(--mask-size-content);

    mask-position: 0 0, 100% 0;
    mask-repeat: no-repeat, no-repeat;

    button {
        height: 2em;
        width: 15em;
        
        img {
            width: 1.5em;
        }

        &:hover {
            img{
                transition-duration: var(--transition-duration-medium);
                transform: rotate(360deg);
            }
        }
    }
}

.chapter-input:nth-of-type(n + 2){
    opacity: 0.8;
}

.chapter-input:nth-of-type(n + 3){
    opacity: 0.6;
}

.book-list{
    padding: 0 1em 3.5em 0;

    width: 100%;
}

.book-entry{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    height: 2.5em;
    width: 100%;
    padding: .25em .5em;
    border-radius: var(--mild-border-radius);

    h5 {
        width: 100%;
        text-wrap: nowrap;
        margin: 0;
        overflow-x: hidden;
        text-overflow: ellipsis;

        color: var(--text-color-negative-dull);
    }

    &:hover {
        background-color: rgba(var(--backdrop-color),0.1);
        
        button {
            display: flex;
        }
    }

    button{
        display: none;
        max-width: 2em;

        img {
            width: 2em;
            transform: scale(1);
        }

        &:hover {
            border-radius: 1em;

            img {
                transform: scale(1);
            }
            
        }
    }
}



@media (max-width:900px)  {
    #back button{
        width: 100%;
        margin: 0;
    }

    .add {
        .button-group {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-gap: .5em;

            button, label {
                margin: 0;
            }
        }

        input:first-of-type {
            margin-left: 0;
        }
        
        input:last-of-type {
            margin-right: 0;
        }

        #add {
            width: 100%;
        }

        #chapter-inputs{
            display: flex;
            flex-direction: column;
            gap: .5em;

            max-height: 500px;
            padding: .5em 0;

            button {
                margin: 0;
            }

            ol {
                padding: 0;
            }
        
            .chapter-input {
                p {
                    display: none;
                }
            }
        }
    }


    .book-entry{
        button{
            display: flex;
            max-width: 1.5em;
            max-height: 1.5em;

            img {
                width: 1.25em !important;
            }
        }

        .interactive-group {
            flex-wrap: nowrap;
        }
    }
}