.card-group{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .card {
        margin: 1em 0;
    }
}

.vertical {
    display: flex;
    flex-direction: row;

    width: 900px;
    max-width: 900px;

    .card {
        margin: 2em 1em;
    }

    .card:nth-of-type(1){
        flex-basis: 60%;
        min-width: 60%;
    }

    .card:nth-of-type(2){
        flex-basis: 40%;
        min-width: 40%;
        max-width: 40%;
    }
}

.small {
    min-width: 400px !important;
    width: 20% !important;
    max-height: 30vh !important;
    border-radius: var(--default-border-radius) !important;
    padding: var(--default-border-radius) !important;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;


    width: 800px;
    max-height: 70vh;


    padding: var(--aggressive-border-radius);

    background-color: rgba(var(--backdrop-color),0.1);
    border-radius: var(--aggressive-border-radius);
    backdrop-filter: blur(var(--aggressive-border-radius));

    color: var(--text-color-negative);

    img{
        transition: transform;
        transition-duration: var(--transition-duration-fast);
    }

    button:hover{
        img {
            transition: transform;
            transition-duration: var(--transition-duration-fast);
        }
    }
}


@media (max-width:900px)  {
    .card-group{
        display: flex;
        flex-direction: column-reverse;
        height: unset;

        width: 100vw;
    
        .card {
            margin: 0;
        }
    }
    
    .vertical {
        flex-direction: column;
    
        width: 100%;
        margin: 0;
    
        .card {
            margin: 0;
        }
    
        .card:nth-of-type(2){
            width: 100%;
        }
    }
    
    .small {
        max-height: unset !important;
        min-width: 100% !important;
        border-radius: 0 !important;
    }
    
    .card{
        width: 100%;
        min-width: 100%;
        max-height: unset;
    
        overflow-x: hidden;
        overflow-y: scroll;
    
        margin: 0;
        padding: calc(2*var(--default-border-radius));
    
        background-color: rgba(var(--backdrop-color),0);
        border-radius: 0;
        backdrop-filter: none;
    }
    
    
}