.notification{
    display: flex;
    align-items: center; /* Position the text in the middle of this element */
    justify-content: center;
    position: absolute;
    
    top: -150%; /* Position above the owner */
    width: 100%; /* Take up the width of the parent to set a anchor point */
    
    z-index: 999;
}

.notification p {
    width: fit-content;
    padding: .25em 1em;
    text-wrap: nowrap;

    border-radius: var(--default-border-radius);
    
    background-color: rgba(var(--backdrop-color),0.3);
}