/***************/
/* output-card */
/***************/

#course-select-wrapper{
    display: flex;
    height: 2em;

    select {
        width: 70%;
        height: 2em;
    }
}

.output{
    #random{
        img{
            transform: scale(1.2) rotate(30deg);
        }

        &:disabled:hover img {
            transform: scale(1.2) rotate(30deg);
        }

        &:hover img{
            transform: scale(1.2) rotate(390deg);
        }
    }

    #done{
        img:first-of-type{
            transform: translate(.1em, -0.2em) scale(0.9);
        }

        img:last-of-type{
            margin-left: -2em;
            transform: translate(-0.1em, .1em) scale(1.2) rotate(30deg);
            opacity: 0.8;
        }
    }

    #done:hover{
        &:disabled {
            img:first-of-type{
                transform: translate(.1em, -0.2em) scale(0.9);
            }
    
            img:last-of-type{
                margin-left: -2em;
                transform: translate(-0.1em, .1em) scale(1.2) rotate(30deg);
                opacity: 0.8;
            }
        }

        img:first-of-type{
            transform: translate(.1em, -0.2em) scale(1.05);
        }

        img:last-of-type{
            transform: translate(-0.1em, .1em) scale(1.2) rotate(390deg);
        }
    }

    #reset:hover{
        img{
            transition-duration: var(--transition-duration-medium);
            transform: rotate(110deg);
        }
    }

    #add{
        height: 2em;
        max-width: 10em;

        img{
            width: 1.5em;
            transform: rotate(-360deg);
        }
    }

    #add:hover{
        img{
            transition-duration: var(--transition-duration-medium);
            transform: rotate(360deg);
        }
    }
}

#timer-config{
    display: flex;
    align-items: center;

    height: 3em;

    button {
        height: 100%;
    }
    
    button {
        transition-property: width, border-radius, filter;
        transition-duration: var(--transition-duration-medium), var(--transition-duration-fast);

        &:hover{
            border-radius: var(--default-border-radius);
            filter: brightness(0.95);
    
            transition-property: width, border-radius, filter;
            transition-duration: var(--transition-duration-medium), var(--transition-duration-fast);
        }    

        &:disabled:hover{
            border-radius: var(--mild-border-radius);
            filter: brightness(70%);
            cursor: not-allowed;
        }
    }

    input {
        width: 70%;
    }
}

@media (max-width:480px) {
    #timer-config{
        flex-direction: column;
        height: 3em;
    }
}