/***************/
/* output-card */
/***************/

#course-select-wrapper{
    display: grid;
    grid-template-areas: 
        "select add";
    grid-template-columns: 3.5fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: .5em;
    justify-items: center;

    width: 100%;

    margin: 1em auto;

    a {
        margin: 0;
        height: 2.5em;
        width: 100%;
    }

    button, select {
        height: 100%;
        width: 100%;
        margin: 0;
    }

    select {
        grid-area: select;
    }

    

    #add {
        grid-area: add;
    }
}

#course-select-wrapper:has(> #get){
    grid-template-areas: 
        "select get add";
    grid-template-columns: 3.5fr 1fr 1fr;
    #get {
        grid-area: get;
    }
}

#checkbox-wrapper {
    display: flex;
    flex-direction: column;

    #checkboxes {
        display: flex;
        flex-wrap: wrap;
    }
}


.output{
    #random{
        img{
            transform: scale(1.2) rotate(30deg);
        }

        &:disabled:hover img {
            transform: scale(1.2) rotate(30deg);
        }

        &:hover img{
            transform: scale(1.2) rotate(390deg);
        }
    }

    #done{
        img:first-of-type{
            transform: translate(.1em, -0.2em) scale(0.9);
        }

        img:last-of-type{
            margin-left: -2em;
            transform: translate(-0.1em, .1em) scale(1.2) rotate(30deg);
            opacity: 0.8;
        }
    }

    #done:hover{
        &:disabled {
            img:first-of-type{
                transform: translate(.1em, -0.2em) scale(0.9);
            }
    
            img:last-of-type{
                margin-left: -2em;
                transform: translate(-0.1em, .1em) scale(1.2) rotate(30deg);
                opacity: 0.8;
            }
        }

        img:first-of-type{
            transform: translate(.1em, -0.2em) scale(1.05);
        }

        img:last-of-type{
            transform: translate(-0.1em, .1em) scale(1.2) rotate(390deg);
        }
    }

    #reset:hover{
        img{
            transition-duration: var(--transition-duration-medium);
            transform: rotate(110deg);
        }
    }

    #add{
        img{
            transform: rotate(-360deg);
        }
        
        &:hover{
            img{
                transition-duration: var(--transition-duration-medium);
                transform: rotate(360deg);
            }
        }
    }
}

#timer-config{
    display: flex;
    align-items: center;
    height: 3em;
    
    button {
        height: 3em;
        margin: 0;
        transition-property: width, border-radius, filter;
        transition-duration: var(--transition-duration-medium), var(--transition-duration-fast);

        &:hover{
            border-radius: var(--default-border-radius);
            filter: brightness(0.95);
    
            transition-property: width, border-radius, filter;
            transition-duration: var(--transition-duration-medium), var(--transition-duration-fast);
        }    

        &:disabled:hover{
            border-radius: var(--mild-border-radius);
            filter: brightness(70%);
            cursor: not-allowed;
        }
    }

    input {
        width: 30%;
        height: 3em;
    }
}

@media (max-width:900px) {
    
    .output{

        .button-group {
            flex-direction: row-reverse;
            position: fixed;
            justify-content: center;

            width: 100%;
            height: 8em;
            left: 0;
            bottom: 0;

            padding: 4em 1em 1em 1em;
            border-radius: var(--default-border-radius) var(--default-border-radius) 0 0 !important;
            background-color: rgba(var(--backdrop-color),0.3);
            backdrop-filter: blur(var(--mild-border-radius));

            z-index: 2;

            button {
                flex-grow: 1;
                width: 3em;
           
                margin: 0 .35em;
                height: 100%;

                max-width: unset;
                z-index: 4;
            }
        }

    }

    #chapter, #output{
        text-align: center;
    }

    #output-wrapper {
        display: flex;
        flex-direction: column-reverse;

        #chapter {
            line-height: 1.75em;
        }

        #output{
            position: absolute;
            top: 3em;
            left: 0;
            font-size: 2.5em;
            height: 2em;
            width: 100%;
            margin: 0;
        }
    }

    #course-select-wrapper{
        grid-template-columns: 1fr 2em;
        height: 2em;
        width: 100%;
        min-width: 100%;

        p {
            display: none;
        }

        a {
            margin: 0;
            height: 2em;
            width: 100%;
        }
    
        button {
            padding: .2em;
        }

        img {
            width: 100%;
        }

    }

    #course-select-wrapper:has(> #get){
        grid-template-columns: 1fr 2em 2em;
    }

    #timer-config {
        flex-direction: row-reverse;
        height: unset;
        width: 100% !important;

        button{
            height: 2.5em;
  
            img {
                height: 100%;
            }
        }

        input{
            width: 100%;
            height: 2.5em;
        }

        & > p{
            display: none;
        }
    }

    #checkbox-wrapper {
        justify-content: center;
        align-items: center;

        #checkboxes {
            align-items: center;
            justify-content: center;
        }
    }

    #timer{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        height: 8em;
    
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 0 1.5em !important;
        padding-bottom: 4em !important;

        z-index: 3;

        * {
            font-size: 0.95em;
        }

        h1{
            width: 15%;
            max-height: 2em;
            margin: 0 .25em !important;
            font-size: 2em;
        }

        #timer-config{
            grid-area: config;
            
        }
    }
}