.timer[data-elapsed = "true"]{
    --default-color: rgba(var(--secondaryRGB),0.3);
    --mid-flash-color: rgba(var(--highlight-color),0.2);
    --current-color: var(--default-color);
    background-color: var(--current-color, red);

    transition-property: background-color;
    transition-duration: var(--transition-duration-medium);

    animation: flash 1s 1;
}

.timer__display__text[data-elapsed = "true"]{
    --default-color: var(--secondary);
    --mid-flash-color: var(--text-color-negative);
    --current-color: var(--default-color);
    color: var(--current-color, red);

    transition-property: color;
    transition-duration: var(--transition-duration-medium);

    animation: flash .5s 2;
}

@keyframes flash {
    0% {--current-color: var(--default-color)}
    50% {--current-color: var(--mid-flash-color)}
    100% {--current-color: var(--default-color)}
}

.timer {
    --open-height: 3em;
    --closed-height: 0em;
    overflow: visible;
}

.timer__display{
    display: flex;
    align-items: center;
    justify-content: center;

    height: var(--closed-height);

    transition-property: height;
    transition-duration: var(--transition-duration-medium);
}

.timer[data-open = "true"] .timer__display{
    height: var(--open-height);
}

.timer__display__text {
    text-align: center; 
    height: 100%;
    line-height: normal;
    margin: 0;
}

#timer__config__input-wrapper {
    height: 100%;
    width: 0;
    flex: 0;

    overflow: hidden;
    opacity: 0;
    margin-top: 0 !important;
    flex-wrap: nowrap;

    transition-property: flex, opacity;
    transition-duration: var(--transition-duration-medium), var(--transition-duration-medium);
}

#timer__config__input-wrapper .interactive {
    min-width: fit-content;
}

.timer[data-open = "true"] #timer__config__input-wrapper {
    width: fit-content;
    flex: 3;
    opacity: 1;
}

.timer__config{
    height: var(--open-height);
    --gap: 0;

    transition-property: gap;
    transition-duration: var(--transition-duration-medium);
}

#timer__config__input-wrapper > *:first-child {
    margin: 0 !important;
}

.timer__config > *, #timer__config__input-wrapper > * {
    margin: 0 0 0 var(--gap) !important;
}

@supports ((aspect-ratio: 1 / 1) and (gap: 0)) {
    .timer__config > *, #timer__config__input-wrapper > * {
        margin: 0 !important;
    }
}

.timer[data-open = "false"] #timer__config__input-wrapper {
    --gap: 0;
}

.timer[data-open = "true"] .timer__config {
    --gap: .75em; /* Sets back to inital. Needs to be same as in interactives.css */
}

*~.timer__config {
    margin-top: 0 !important;
}

@media (max-width:900px) {
    .timer[data-elapsed = "true"]{
        --current-color: none;
        animation: none;
    }

    /* Button becomes small on mobile when menu is open */
    .timer[data-open = "true"] #toggle {
        max-width: 3em !important;
    }

    .timer[data-open = "true"] #toggle p {
        display: none;
    }
    
    .timer__display__text[data-elapsed = "true"]{
        animation: none;
    }

    .timer__config {
        flex-direction: row-reverse;
        width: 100%;

        transition-duration: var(--transition-duration-fast);
    }

    #timer__config__input-wrapper > p{
        display: none;
    }
    
    #timer__config__input-wrapper {
        --gap: 0;
        transition-duration: var(--transition-duration-fast), var(--transition-duration-medium);
    }

    .timer[data-open = "true"] #timer__config__input-wrapper {
        padding-left: 0;
    }
    
    .timer__display{
        --open-height: 2em;
        --closed-height: var(--open-height);
    }

    .timer{
        /* Also have to set this in OutputCard.css */
        --_interactive-height: 3em;
        --spacing: 1em;
        --_gap: .75em;

        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: row !important;

        height: fit-content;
    
        position: fixed;
        bottom: calc(var(--_interactive-height) + var(--spacing) + 1*var(--_gap));
        left: 0;
        padding: 0 var(--spacing) !important;

        --backdrop-filter: none;

        z-index: 999;
    }

    #timer__config__input {
        --interactive-width: 100%;
    }

    .timer__display__text {
        margin-right: calc(1.5*var(--_gap));
    }
}