.volume-knob{
    display: flex;
    align-items: center;

    flex-direction: column;

    position: absolute;
    bottom: 8vh;
    right: 3vh;

    width: 3.5em;
    padding: .25em;

    border-radius: var(--aggressive-border-radius);

    background-color: rgba(var(--backdrop-color),0.3);

    .knob {
        width: 2.5em;
        height: 2.5em;

        border-radius: 1.25em;

        margin: .125em;
        padding: 0;

        img {
            position: absolute;
            width: 2.5em;
            height: 2.5em;
            padding: .2em;
        
            transform: scale(1) rotate(0deg);
            transition: transform;
            transition-duration: var(--transition-duration-medium);
        }

        &:hover{
            border-radius: 1.25em;

            width: 2.5em;
            height: 2.5em;
    
    
            img {
                transform: scale(1) rotate(0deg) ;
            }

            #no-dot {
                transform: scale(1) rotate(360deg) ;
            }
        }
    }
}

.volume-slider{
    display: flex;
    flex-direction: column;

    justify-content: end;

    height: 0em;
    width: 80%;

    margin: .5em 10%;

    border-radius: var(--aggressive-border-radius);
    background-color: rgba(var(--backdrop-color),0.3);

    transition-property: height,margin,opacity;
    transition-duration: var(--transition-duration-fast);

    &.open{
        height: 10em;
    }

    &.closed{
        height: 0;
        margin: 0;
        opacity: 0;

        p {
            opacity: 0;
        }

        #slider {
            opacity: 0;
        }
    }

    overflow: hidden;

    p, #slider{
        transition-property: opacity;
        transition-duration: var(--transition-duration-fast);
    }

    #slider{
        position: relative;

        height: 0%;
        background-image: linear-gradient(rgba(var(--highlight-color),0.5), rgba(var(--highlight-color),0.05));

        border-radius: 0 0 var(--aggressive-border-radius) var(--aggressive-border-radius);
        z-index: 2;
    }

    p {
        position: absolute;
        height: 2em;
        width: 100%;
        left: 0;
        color: var(--text-color-negative-dull);
        text-align: center;
        z-index: 1;
        user-select: none;
    }
}

/* Volume knob should not be displayed on mobile */
@media (max-width:900px)  {
    .volume-knob{
        display: none;
    }
    
    .volume-slider{
        display: none;
    }
}